
[Desktop Entry]
Name=snowMount
GenericName=snowMount
Comment=Snowlinux tool for mounting devices
Exec=gksudo /usr/bin/snowmount
Icon=/usr/lib/snowlinux/snowMount/icon.png
Terminal=False
Type=Application
Categories=System;
Name=snowMount
Name[de_DE]=snowMount
